/**
 * colors from catppuccin
 */

@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

* {
    font-family: 'JetBrains Mono Nerd Font';
    font-size: 16px;
    font-weight: bold;
    color: @text;
}

/* Window Style */
window {
    background-color: @base;
    margin: 0px;
    padding: 10px;
    border: 1px solid @lavender;
    border-radius: 12px;
    animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @base;
}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: @mauve;
    background-color: @surface0;
}

#scroll {
    margin: 5px;
    padding: 10px;
    border: none;
}

#text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @text;
}

#inner-box {
    margin: 0px;
    border: none;
    padding: 0px;
}

#entry {
  padding-left: 20px;
  border: none;
}

#entry:selected {
    background-color: @surface0;
}

#entry:selected #text {
    color: @mauve;
}
