@define-color background  #24273a;
@define-color foreground  #cad3f5;

@define-color color0      #181926;
@define-color color1      #ed8796;
@define-color color2      #a6da95;
@define-color color3      #eed49f;
@define-color color4      #8aadf4;
@define-color color5      #b7bdf8;
@define-color color6      #8bd5ca;
@define-color color7      #cad3f5;
@define-color color8      #181926;
@define-color color9      #ed8796;
@define-color color10     #a6da95;
@define-color color11     #eed49f;
@define-color color12     #8aadf4;
@define-color color13     #b7bdf8;
@define-color color14     #8bd5ca;
@define-color color15     #cad3f5;



* {
    font-family: 'JetBrains Mono Nerd Font';
    font-size: 16px;
    font-weight: bold;
    color: @foreground;
}

/* Window Style */
window {
    background-color: @background;
    margin: 0px;
    padding: 10px;
    border: 1px solid @color5;
    border-radius: 12px;
    animation: slideIn 0.5s ease-in-out both;
}

@keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
}

#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @background;
}

#input {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: @color5;
    background-color: alpha(@color7, 0.4);
}

#scroll {
    margin: 5px;
    padding: 10px;
    border: none;
}

#text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @foreground;
}

#inner-box {
    margin: 0px;
    border: none;
    padding: 0px;
}

#entry {
  padding-left: 20px;
  border: none;
}

#entry:selected {
    background-color: alpha(@color7, 0.4);
}

#entry:selected #text {
    color: @color5;
}

